<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Tedi\Desktop\OOP2_project\target\OOP2_project-1.0-SNAPSHOT.jar</jar>
  <outfile>C:\Users\Tedi\Desktop\OOP2_project\exe\Event organiser.exe</outfile>
  <errTitle>This application needs java to run!</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>high</priority>
  <downloadUrl>https://www.java.com/en/download/</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Tedi\Desktop\OOP2_project\src\main\resources\logo.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>true</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>